decord==0.6.0
diffusers==0.30.3
numpy==1.26.3
omegaconf==2.3.0
pandas==2.2.3
pathvalidate==3.2.1
peft==0.13.2
qwen-vl-utils==0.0.8
safetensors==0.4.5
scipy==1.13.1
sympy==1.13.3
timm==0.9.16
transformers==4.51.1